XFWebService_ASMX/XFWebService_ASMX/XFWebService_ASMX.Droid/Web References/WebServiceASMXTest/test.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="SICODE" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="SICODE" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="SICODE">
      <s:element name="Getest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetestResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetestSoapIn">
    <wsdl:part name="parameters" element="tns:Getest" />
  </wsdl:message>
  <wsdl:message name="GetestSoapOut">
    <wsdl:part name="parameters" element="tns:GetestResponse" />
  </wsdl:message>
  <wsdl:portType name="test3Soap">
    <wsdl:operation name="Getest">
      <wsdl:input message="tns:GetestSoapIn" />
      <wsdl:output message="tns:GetestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="test3Soap" type="tns:test3Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Getest">
      <soap:operation soapAction="SICODE/Getest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="test3Soap12" type="tns:test3Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Getest">
      <soap12:operation soapAction="SICODE/Getest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="test3">
    <wsdl:port name="test3Soap" binding="tns:test3Soap">
      <soap:address location="https://ma.si-3.com.tw/SiMA2016/ws/test.asmx" />
    </wsdl:port>
    <wsdl:port name="test3Soap12" binding="tns:test3Soap12">
      <soap12:address location="https://ma.si-3.com.tw/SiMA2016/ws/test.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>